@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;700;900&display=swap');

body {
    font-family: 'Martel Sans', sans-serif;
    background-color: #000;
}

h1 {
    font-size: var(--h1-size);
    font-weight: 900;
}

h2 {
    font-size: var(--h2-size);
    font-weight: 400;
}

h3 {
    font-size: var(--h3-size);
    font-weight: 400;
}

p {
    font-size: var(--p-size);
    font-weight: 400;
}



:root {
    --primary-red: #E50914;
    --primary-white: #fff;
    --h1-size: 3rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --p-size: 1.5rem;

}

/*-------------HEADER-----------------*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 0;
    right: 0;
    padding: 2rem 3rem 2rem 3rem;
}

.header .logo img {
    width: 150px;
}

.buttons-right button {
    margin: 10px;
}

.header .buttons-right #sign-button {
    background-color: var(--primary-red);
    text-decoration: none;
    color: var(--primary-white);
    border: none;
    font-size: 16px;

    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#language-button {
    background-color: transparent;
    backdrop-filter: blur(20px);
    text-decoration: none;
    color: var(--primary-white);
    border: none;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--primary-white);
}

/*-------------HERO SECTION-----------------*/

.hero-section {

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.8) 100%), url(../assets/herobg.png);
    background-size: cover;
    background-position: center;
    height: 46.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section img {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.hero-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
}

.hero-container .hero-text {
    color: var(--primary-white);
    width: 100%;
    z-index: 99999;
}

.hero-container .hero-text p {
    margin: 1.5rem 0 1.5rem;
}

.hero-container .hero-text h3 {

    margin: 1.5rem 0 2rem;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container input {
    width: 25rem;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 1rem;
    border: 1px solid var(--primary-white);
    border-radius: 5px;
    margin-right: 0.5rem;

}

.form-container button {
    width: fit-content;
    padding: 0.75rem 1.5rem;
    height: 4rem;
    font-family: 'Martel Sans', sans-serif;
    color: white;
    background-color: var(--primary-red);
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;

}

.form-container button:hover {
    opacity: 75%;
}

.divider {
    width: 100%;
    background-color: #222222;
    height: 8px;
}

/*-------------PROPS SECTION-----------------*/

.props-container{
    padding: 4.5rem 0;
}


.props-section .props-container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.props-container .props-left {
    text-align: left;
    width: 30%;
}

.props-container .props-left h1 {
    margin-bottom: 2rem;

}

.props-container .props-right {
    position: relative;
}

#img_feat{
    position: absolute;
    
    left: 12.45%;
    top: 20%;
    width: 74%;
    z-index: -1;
}

#img_feat2 {
    position: absolute;
    
    left: 16.45%;
    top: 4%;
    width: 66%;
    z-index: -1;
    height: 56%;
}

.download-container{
    background-color: #000;
    padding: 0.5rem;
    border: 1px solid var(--primary-white);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 71%;
    left: 20%;

}

.download-container img{
    width: 3rem;
}

.download-text{
    margin-left: 0.5rem;
}

.download-text p{
    font-size: 1rem;
}

#legenda-download{
    font-size: 0.85rem;
    color: #0071EB;
}


/*-------------FAQ SECTION-----------------*/

.faq-section{
    padding: 4.5rem 0;
}

.faq-section{
    color: white;
    text-align: center;
}

.accordion{
    margin: 5rem auto;
    width: 100%;
    max-width: 75%;
    font-size: 1.5rem;
    font-weight: 400;
}

.accordion li{
    list-style: none;
    width: 100%;
    margin: 0 0 0.5rem 0;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #303030;
    margin-bottom: 0.1rem;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.accordion li label:hover{
    background-color: #535353;
}

label::after{
    content: '+';
    font-size: 2rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
}

input[type="radio"]{
    display: none;

}

.accordion .content{
    background-color: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s all;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}



.faq-section h3{
    margin-bottom: 2rem;
}

/*-------------FOOTER SECTION-----------------*/

.footer-container{
    padding: 3.75rem 0;
    margin: 0 4rem;
}

.footer-title{
    color: rgba(255,255,255,0.7);
    margin-bottom: 2rem;
}

.footer-list{
    color: rgba(255, 255, 255, 0.7);
}

.footer-ul{
    display: grid;
    grid-template-columns: repeat(3, 6fr);
    font-size: 0.875rem;
    font-weight: 400;
}

.footer-ul li{
    list-style: none;
    margin: 0.5rem 0;
}